body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #393d41;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #25a2c3;
  line-height: 35px;
}
p {
  font-size: 1.16pt;
  line-height: 1.5em;
}

/*HEADER*/
header {
  background-color: black;
}

header img {
  width: 140px;
  margin: 20px;
  margin-left: 40px;
}
/* BANNER*/
.banner {
  background-image: url(../img/banner.jpg);
  background-position: top;
  background-size: cover;
  width: 100%;
  padding: 200px 0px 200px 0px;
  text-align: center;
}

.banner h1 {
  font-size: 2em;
  line-height: 60px;
}

.banner p {
  font-size: 16pt;
  margin-inline: 20em;
  text-align: center;
}
.banner button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #f04c2f;
  color: white;
  border-radius: 0.5vh;
  border-style: none;
  padding: 0.8em 2em;
  font-size: 12pt;
  display: block;
  margin: 26px auto;
}

/*MAIN - CENTRAL SECTION - first-box*/

.central {
  text-align: center;
}
.central h2,
p {
  font-size: 11pt;
  padding: 6px;
}

.first-box {
  padding: 100px;
}

/* IMMAGINE CORNICE TONDA*/
.image-box img {
  border-radius: 50%;
  width: 400px;
}
.image-box {
  display: inline-block;
  text-align: right;
  width: 45%;
  padding-right: 70px;
}
.text-content {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  padding-top: 20px;
}
.text-content h2,
.text-content p {
  text-align: left;
  margin-right: 12em;
}

/*REDBOX*/

.red-box {
  background-color: #e22d0e;
  text-align: center;
  color: white;
  padding: 60px;
}
.red-box h2 {
  color: white;
  font-size: 17pt;
}
.red-box p {
  text-align: center;
  padding: 25px;
  font-weight: 300;
  font-size: 16pt;
}

.red-box em {
  font-style: italic;
}

.red-box h4 {
  font-size: 15pt;
  font-weight: 400;
}

.red-box h6 {
  font-size: 10pt;
  padding: 10px;
}
/* CARDS SECTION */

.cards-section {
  padding: 110px 140px 150px 140px;
}
.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.card {
  display: inline-block;
  width: calc(33.333% - 25px);
  text-align: center;
  border: 1px solid #dee1e3;
  border-radius: 0 0 0.6vh 0.6vh;
  margin: 10px;
}
.card-text {
  font-size: 10pt;
  padding: 18px;
}

.card p {
  text-align: center;
  margin-right: 0;
  font-size: 11pt;
}

/*FOOTER*/

footer {
  background-color: #25a2c3;
  text-align: center;
}

address h2 {
  color: white;
  text-align: left;
  font-size: 29pt;
  padding-bottom: 30px;
}

address {
  display: inline-block;
  padding: 60px;
}

address p,
a {
  color: #c8e7f0;
  padding: 0;
  font-size: 10pt;
  margin-right: 0;
  text-align: left;
}
address p i {
  color: white;
}
address hr {
  width: 13em;
  margin-inline: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#copyright {
  /*padding-bottom: 30px;*/
  padding-top: 10px;
  font-size: 8pt;
  text-align: center;
}

#copyright a {
  font-size: 8pt;
}
